# --- Build outputs everywhere ---
**/build/
**/.vscode/
**/*.uf2
**/*.elf
**/*.bin
**/*.map
**/*.o
**/*.a

# --- Ignore SDK / external stuff ---
sdk/
tools/
pico-examples/
workspace/
experiments/
docs/


# --- Ignore projects ---
projects/picoboard_button/
projects/pio_blink/
